body {
    font-family: 'Roboto', sans-serif;
}
hr.solid {
  border-top: 0.2px solid #10cbd1;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.card-body p {
  text-align: justify;
  text-justify: inter-word;
}
.card-body h6 {
  text-align: justify;
  text-justify: inter-word;
}
.card-title {
  text-align:left;
}
.no-bullets {
  text-align: center;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.bold {
    font-weight: bold;
}
#section-2 {
  font-weight: bold;
    color: #38e7ea;
}

.section-heading {
    margin-right: 5px;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile p {
    margin-bottom: 0;
}
.sidebar {
    background-color: #0e112c;
    color: #ecf0f1;
    position: fixed;
    padding: 20px;
    position: sticky;
    top: 40px;
    overflow-y: auto;
}
.card {
  border: 1px solid #dddddd;  /* This is a medium gray */
  padding-top: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 20px;  /* Increase as needed */
}
.main-content {
    background-color: #ffffff;
    color: #333;
}
#toggleContent {
  display: block;
}
#toggleButton {
  display: none;
}
.center-button {
  display: flex;
  justify-content: center;
}
.style-item {
  color: white; /* White text */
  list-style-type: none; /* Remove default list bullet */
  border-radius: 5px; /* Rounded corners */
}

.item-link {
  color: white; /* Ensures the text is white */
  text-decoration: none; /* Removes underline from link */
  display: flex; /* Aligns the icon and text */
  align-items: center; /* Center items vertically */
}

.item-link i {
  margin-right: 10px; /* Space between the icon and text */
}
/* Responsive adjustments */
@media (max-width: 768px) {
    #toggleContent {
      display: none;
    }
    #toggleButton {
      display: block;
    }
    .sidebar {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-content {
        padding-top: 0;
    }
}